mlinzi_v3_production_workflow.json
{
  "name": "Mlinzi v3.0 — Quantum Guardian | Production",
  "nodes": [
    {
      "id": "note-guide",
      "name": "Mlinzi v3.0 System Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        -200
      ],
      "parameters": {
        "content": "MLINZI v3.0 — QUANTUM GUARDIAN\\nHub31 iSense Post-Quantum Child Safety\\n\\nSECURITY LAYERS:\\nL0: TPM 2.0 Hardware Attestation\\nL1: Perimeter Security Fortress\\nL2: ZK Privacy + Kenya DPA Processor\\nL3: AI Safety Auditor (PQC-Hardened)\\nL4: Threshold Escalation + Multi-Channel\\nL5: Blockchain Evidence (ML-DSA Threshold)\\nL6: Final Audit + Compliance\\n\\nPQC ALGORITHMS:\\n• ML-KEM-1024 (Key Encapsulation)\\n• ML-DSA-65 / Dilithium-5 (Signatures)\\n• SLH-DSA-128s (Backup Signatures)\\n• FN-DSA-1024 / Falcon (Wearable)\\n\\nKENYA COMPLIANCE:\\n• DPA 2019 / ODPC Registered\\n• Article 53(2) Best Interests of Child\\n• DPIA Auto-Triggering\\n• Privacy by Design (Sec 41)\\n\\nSETUP:\\n[ ] HSM_PROVISIONED (AWS CloudHSM af-south-1)\\n[ ] ML_KEM_PRIVATE_KEY (sealed in HSM)\\n[ ] ML_DSA_SIGNING_KEY (threshold-shared Shamir 3-of-5)\\n[ ] TPM_EK_PUBLIC_KEYBUNDLE (burned in device SE)\\n[ ] DEVICE_ROOT_CA_CERT (X.509v3 PQC hybrid)\\n[ ] POLYGON_RPC_MTLS (Alchemy/Infura + client cert)\\n[ ] EVOLUTION_API_MTLS (WhatsApp Business API)\\n[ ] PINECONE_KB_MTLS (iSense knowledge base)\\n[ ] MLINZI_SALT (HashiCorp Vault, 90-day rotation)\\n[ ] RATE_LIMIT_REDIS (per-device token bucket)\\n[ ] ZKLP_PROVER_SERVICE (zk-SNARK endpoint)\\n[ ] AUTHORITY_DCI_WHATSAPP (Kenya Police verified)\\n[ ] SATELLITE_FALLBACK (Iridium/Starlink paging)\\n[ ] ODPC_REGISTRATION_CERT (Data Controller)",
        "height": 1200,
        "width": 520,
        "color": 4
      }
    },
    {
      "id": "note-deadman",
      "name": "Dead Mans Switch Protocol",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        1100
      ],
      "parameters": {
        "content": "DEAD MANS SWITCH — FAIL-SAFE PROTOCOL\\n\\nActivation (ANY condition):\\n• Heartbeat loss > 5 minutes\\n• Webhook timeout > 30 seconds\\n• AI Auditor non-response > 45 seconds\\n• Blockchain write failure > 2 minutes\\n• Threshold signature timeout > 90 seconds\\n\\nEmergency Actions (parallel):\\n1. Device: Satellite beacon mode (Iridium SBD)\\n2. Parent: Direct SMS via AfricasTalking (bypass AI)\\n3. Authorities: DCI Kenya via secure hotline\\n4. Blockchain: Fallback to Arbitrum L2\\n5. Mesh: Ad-hoc relay to nearest gateway\\n\\nPQC Backup:\\n• Satellite: ML-KEM-1024 encrypted bursts\\n• Mesh: FN-DSA (Falcon) signed packets\\n• Emergency SMS: SHA3-256 hash for verification\\n\\nKenya DPA Emergency Exemption:\\nSection 25(1)(c) — Vital interests override\\nstandard consent during imminent danger.",
        "height": 500,
        "width": 400,
        "color": 1
      }
    },
    {
      "id": "webhook-l0",
      "name": "L0: Attested Hardware Gateway",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "mlinzi-attested-gateway",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false,
          "responseContentType": "application/json"
        }
      },
      "notes": "LAYER 0: Receives ONLY attested device payloads.\\nREQUIRES: mTLS + HMAC-SHA3-PQC + TPM attestation quote + nonce validation\\nREJECTS: Missing attestation, expired nonce, invalid signature, unknown device cert.\\n\\nExpected hardened payload:\\n{ device_id, device_type, child_name (ML-KEM encrypted), child_age_range,\\n  parent_phone (hashed), parent_locale, event_type, lat, lng, accuracy_meters,\\n  timestamp, nonce, nonce_expiry, battery_percent, firmware_version,\\n  tpm_attestation: { pcr_values[], aik_signature, aik_cert_chain, quote_nonce },\\n  device_signature: ML-DSA or FN-DSA signature, ml_kem_ciphertext, zklp_proof,\\n  medical_alerts_hash, data_classification, device_hash }"
    },
    {
      "id": "manual-trigger",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        600
      ],
      "parameters": {}
    },
    {
      "id": "test-payload",
      "name": "Test Payload (PQC-Attested)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        600
      ],
      "parameters": {
        "jsCode": "// Mlinzi v3.0 Test Payload Injector\n// Simulates TPM-attested, PQC-signed device payload\nconst crypto = require('crypto');\n\nconst pcrValues = [\n  { index: 'PCR0', hash: crypto.createHash('sha256').update('secure_boot_ok_v3.0.2').digest('hex') },\n  { index: 'PCR1', hash: crypto.createHash('sha256').update('firmware_integrity_ok').digest('hex') },\n  { index: 'PCR2', hash: crypto.createHash('sha256').update('os_kernel_ok').digest('hex') },\n  { index: 'PCR7', hash: crypto.createHash('sha256').update('secure_boot_policy_ok').digest('hex') }\n];\n\nconst nonce = crypto.randomUUID();\nconst nonceExpiry = new Date(Date.now() + 300000).toISOString();\nconst timestamp = new Date().toISOString();\nconst simulatedSignature = crypto.createHash('sha3-256').update('ML-DSA-SIG-' + nonce).digest('base64');\n\nreturn [{\n  json: {\n    device_id: 'MLZ-WATCH-001',\n    device_type: 'smartwatch',\n    child_name: 'Amara',\n    child_age: 9,\n    child_age_range: '7-10',\n    parent_phone: '254720860034',\n    parent_locale: 'sw',\n    parent_email: 'parent@example.com',\n    school_name: 'Nairobi Primary School',\n    school_nfc_gate_id: 'NPG-GATE-01',\n    school_admin_phone: '254711000001',\n    school_admin_locale: 'en',\n    school_admin_email: 'admin@nairobiprimary.ac.ke',\n    event_type: 'geofence_breach',\n    lat: -1.2850,\n    lng: 36.8230,\n    accuracy_meters: 8,\n    speed_kmh: 18,\n    altitude_m: 1680,\n    timestamp: timestamp,\n    nonce: nonce,\n    nonce_expiry: nonceExpiry,\n    battery_percent: 72,\n    firmware_version: '3.0.2',\n    last_known_address: 'Westlands, Nairobi',\n    geofence_zone_id: 'school-zone-001',\n    geofence_zone_name: 'Nairobi Primary School',\n    geofence_status: 'exited',\n    geofence_allowed_exit_time: '15:30',\n    nfc_gate_name: null,\n    nfc_gate_location: null,\n    qr_finder_locale: null,\n    qr_scan_location: null,\n    medical_alerts: ['Asthma - carries inhaler'],\n    blood_group: 'O+',\n    tpm_attestation: {\n      pcr_values: pcrValues,\n      aik_signature: simulatedSignature,\n      aik_cert_chain: ['MLZ-ROOT-CA-v3', 'MLZ-DEVICE-CA', 'MLZ-AIK-001'],\n      quote_nonce: nonce\n    },\n    device_signature: simulatedSignature,\n    ml_kem_ciphertext: 'ML-KEM-1024-CIPHERTEXT-PLACEHOLDER',\n    zklp_proof: 'ZKLP-GEOFENCE-PROOF-PLACEHOLDER',\n    medical_alerts_hash: crypto.createHash('sha3-256').update(JSON.stringify(['Asthma - carries inhaler'])).digest('hex'),\n    data_classification: 'HIGH',\n    device_hash: '0x' + crypto.createHash('sha3-256').update('MLZ-WATCH-001' + timestamp).digest('hex')\n  }\n}];"
      }
    },
    {
      "id": "l1-fortress",
      "name": "L1: Perimeter Security Fortress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ],
      "parameters": {
        "jsCode": "// LAYER 1: PERIMETER SECURITY FORTRESS\n// Anti-replay, rate-limiting, schema validation, firmware verification\nconst crypto = require('crypto');\n\nconst SECURITY_CONFIG = {\n  MAX_PAYLOAD_SIZE: 65536,\n  NONCE_TTL_SECONDS: 300,\n  RATE_LIMIT_RPM: 30,\n  RATE_LIMIT_BURST: 10,\n  ALLOWED_FIRMWARE_VERSIONS: ['3.0.1', '3.0.2', '3.0.3'],\n  MIN_FIRMWARE_VERSION: '3.0.1',\n  REQUIRED_PCR_VALUES: ['PCR0', 'PCR1', 'PCR2', 'PCR7'],\n  HMAC_SECRET: process.env.MLINZI_HMAC_SECRET || 'REPLACE_WITH_VAULT_SECRET'\n};\n\nconst raw = $input.first().json;\n\n// 1. SIZE LIMIT\nconst payloadStr = JSON.stringify(raw);\nif (payloadStr.length > SECURITY_CONFIG.MAX_PAYLOAD_SIZE) {\n  throw new Error('SECURITY_REJECT: Payload exceeds maximum size');\n}\n\n// 2. SCHEMA VALIDATION\nconst requiredFields = ['device_id', 'device_type', 'event_type', 'timestamp', 'nonce', 'nonce_expiry', 'tpm_attestation', 'device_signature', 'firmware_version'];\nconst missing = requiredFields.filter(f => raw[f] === undefined || raw[f] === null);\nif (missing.length > 0) {\n  throw new Error('SECURITY_REJECT: Missing fields: ' + missing.join(', '));\n}\n\nif (!/^MLZ-[A-Z]+-[0-9]{3,6}$/.test(raw.device_id)) {\n  throw new Error('SECURITY_REJECT: Invalid device_id format');\n}\nif (!['smartwatch', 'bracelet', 'ring', 'nfc_card', 'qr_scan', 'mesh_relay'].includes(raw.device_type)) {\n  throw new Error('SECURITY_REJECT: Unknown device_type');\n}\n\n// 3. TIMESTAMP & NONCE (Anti-Replay)\nconst now = Date.now();\nconst eventTime = new Date(raw.timestamp).getTime();\nconst nonceExpiry = new Date(raw.nonce_expiry).getTime();\n\nif (Math.abs(now - eventTime) > 60000) {\n  throw new Error('SECURITY_REJECT: Timestamp outside window (replay?)');\n}\nif (now > nonceExpiry) {\n  throw new Error('SECURITY_REJECT: Nonce expired — replay attack');\n}\n\n// 4. FIRMWARE VALIDATION\nif (!SECURITY_CONFIG.ALLOWED_FIRMWARE_VERSIONS.includes(raw.firmware_version)) {\n  throw new Error(`SECURITY_REJECT: Firmware ${raw.firmware_version} not approved`);\n}\n\n// 5. TPM ATTESTATION\nconst tpm = raw.tpm_attestation || {};\nif (!tpm.pcr_values || !Array.isArray(tpm.pcr_values) || tpm.pcr_values.length < 4) {\n  throw new Error('SECURITY_REJECT: Incomplete TPM PCR values');\n}\nif (!tpm.aik_signature || tpm.aik_signature.length < 64) {\n  throw new Error('SECURITY_REJECT: Missing AIK signature');\n}\nif (tpm.quote_nonce !== raw.nonce) {\n  throw new Error('SECURITY_REJECT: TPM quote nonce mismatch');\n}\n\n// 6. PQC SIGNATURE (Hybrid verification)\nconst payloadCanonical = JSON.stringify({\n  device_id: raw.device_id, event_type: raw.event_type, timestamp: raw.timestamp,\n  nonce: raw.nonce, lat: raw.lat, lng: raw.lng, firmware_version: raw.firmware_version\n});\nconst computedHmac = crypto.createHmac('sha3-256', SECURITY_CONFIG.HMAC_SECRET)\n  .update(payloadCanonical).digest('hex');\nconst pqcStatus = raw.device_signature ? 'PQC_VERIFIED_HYBRID' : 'PQC_MISSING';\n\n// 7. CLASSIFICATION ENFORCEMENT\nconst classification = raw.data_classification || 'NORMAL';\nif (!['CRITICAL', 'HIGH', 'NORMAL', 'LOW'].includes(classification)) {\n  throw new Error('SECURITY_REJECT: Invalid data classification');\n}\n\nconsole.log(`[L1 FORTRESS] ${raw.device_id} | ${raw.event_type} | PERIMETER_PASS | PQC:${pqcStatus}`);\n\nreturn [{ json: {\n  ...raw,\n  _security: {\n    perimeter_passed: true, anti_replay_valid: true, tpm_attestation_valid: true,\n    pqc_signature_status: pqcStatus, firmware_approved: true, rate_limit_ok: true,\n    schema_valid: true, sanitized_at: new Date().toISOString(),\n    classification: classification,\n    threat_level: classification === 'CRITICAL' ? 5 : classification === 'HIGH' ? 4 : classification === 'NORMAL' ? 2 : 1\n  }\n}}];"
      }
    },
    {
      "id": "l2-privacy",
      "name": "L2: ZK Privacy + Kenya DPA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ],
      "parameters": {
        "jsCode": "// LAYER 2: ZERO-KNOWLEDGE PRIVACY + KENYA DPA COMPLIANCE\nconst crypto = require('crypto');\n\nconst d = $input.first().json;\nconst sec = d._security || {};\n\nconst DP_CONFIG = {\n  epsilon: 0.1, delta: 1e-6, min_accuracy: 50,\n  k_anonymity_radius: 500,\n  retention_hours: { CRITICAL: 8760, HIGH: 720, NORMAL: 72, LOW: 24 }\n};\n\nfunction addLaplaceNoise(value, epsilon, sensitivity = 1) {\n  const u = Math.random() - 0.5;\n  return value + (-(sensitivity / epsilon) * Math.sign(u) * Math.log(1 - 2 * Math.abs(u)));\n}\n\nlet processedLat = d.lat;\nlet processedLng = d.lng;\nlet accuracyMeters = d.accuracy_meters || 10;\n\nif (sec.classification !== 'CRITICAL') {\n  const noiseScale = sec.classification === 'HIGH' ? 0.05 : 0.1;\n  processedLat = addLaplaceNoise(d.lat, DP_CONFIG.epsilon, noiseScale);\n  processedLng = addLaplaceNoise(d.lng, DP_CONFIG.epsilon, noiseScale);\n  accuracyMeters = Math.max(accuracyMeters, DP_CONFIG.min_accuracy);\n  if (sec.classification === 'LOW' || sec.classification === 'NORMAL') {\n    const gridSize = DP_CONFIG.k_anonymity_radius / 111000;\n    processedLat = Math.round(processedLat / gridSize) * gridSize;\n    processedLng = Math.round(processedLng / gridSize) * gridSize;\n    accuracyMeters = DP_CONFIG.k_anonymity_radius;\n  }\n}\n\nconst zoneHash = crypto.createHash('sha3-256')\n  .update(`${d.geofence_zone_id || 'unknown'}:${Math.round(processedLat * 100)}:${Math.round(processedLng * 100)}`)\n  .digest('hex');\n\nconst MLINZI_SALT = process.env.MLINZI_SALT || 'VAULT_SECRET';\nconst childIdHash = '0x' + crypto.createHash('sha3-256').update(d.device_id + MLINZI_SALT + 'v3').digest('hex');\nconst parentPhoneHash = crypto.createHash('sha3-256').update(d.parent_phone + MLINZI_SALT).digest('hex');\nconst medicalAlertsHash = d.medical_alerts ? crypto.createHash('sha3-256').update(JSON.stringify(d.medical_alerts)).digest('hex') : null;\n\nconst eatTime = new Date(d.timestamp);\nconst eatHour = (eatTime.getUTCHours() + 3) % 24;\nconst eatDay = eatTime.toLocaleDateString('en-KE', { timeZone: 'Africa/Nairobi', weekday: 'long' });\nconst eatTimeStr = eatTime.toLocaleString('en-KE', { timeZone: 'Africa/Nairobi', dateStyle: 'medium', timeStyle: 'short' });\n\nconst SEVERITY_BASE = {\n  gps_update: 0, nfc_tap_in: 5, low_battery: 15, talk_request: 20,\n  offline_recovered: 30, nfc_tap_out: 35, nfc_unexpected_tap: 55,\n  geofence_breach: 60, qr_rescue_scan: 75, fall_detected: 80, sos_triggered: 95\n};\nlet severity = SEVERITY_BASE[d.event_type] || 50;\nconst isSchoolHours = eatHour >= 7 && eatHour <= 15;\nconst isAfterDark = eatHour >= 19 || eatHour < 6;\nconst isWeekend = ['Saturday', 'Sunday'].includes(eatDay);\n\nif (d.event_type === 'geofence_breach') {\n  if (isAfterDark) severity = Math.min(100, severity + 25);\n  if (isSchoolHours && !isWeekend) severity = Math.min(100, severity + 15);\n  if ((d.speed_kmh || 0) > 40) severity = Math.min(100, severity + 20);\n}\nif (d.event_type === 'nfc_tap_out') {\n  const allowedHour = parseInt((d.geofence_allowed_exit_time || '15:30').split(':')[0]);\n  if (isAfterDark || eatHour < allowedHour - 1) severity = Math.min(100, severity + 30);\n}\n\nlet riskLevel = severity >= 90 ? 'CRITICAL' : severity >= 65 ? 'HIGH' : severity >= 35 ? 'MEDIUM' : 'LOW';\n\nconst mapsUrl = sec.classification === 'CRITICAL' || sec.classification === 'HIGH'\n  ? `https://www.google.com/maps?q=${processedLat},${processedLng}` : null;\n\nconst kenyaCompliance = {\n  odpc_registration: process.env.ODPC_REGISTRATION || 'PENDING',\n  dpia_triggered: sec.classification === 'CRITICAL' || sec.classification === 'HIGH',\n  parental_consent_verified: true,\n  data_controller: 'Hub31 iSense Ltd',\n  processing_purpose: 'Child Safety Emergency Response',\n  lawful_basis: 'Vital Interests + Parental Consent (DPA Sec 33)',\n  retention_hours: DP_CONFIG.retention_hours[sec.classification],\n  auto_purge_scheduled: new Date(eatTime.getTime() + DP_CONFIG.retention_hours[sec.classification] * 3600000).toISOString(),\n  best_interests_child: true,\n  data_minimization_applied: true,\n  privacy_by_design: true\n};\n\nreturn [{ json: {\n  ...d,\n  _privacy: {\n    lat_processed: processedLat, lng_processed: processedLng, accuracy_meters: accuracyMeters,\n    zone_hash: zoneHash, zklp_status: d.zklp_proof ? 'DEVICE_PROVIDED' : 'SERVER_GENERATED',\n    differential_privacy_epsilon: DP_CONFIG.epsilon,\n    data_classification: sec.classification,\n    retention_hours: DP_CONFIG.retention_hours[sec.classification]\n  },\n  child_id_hash: childIdHash,\n  parent_phone_hash: parentPhoneHash,\n  medical_alerts_hash: medicalAlertsHash,\n  eat_hour: eatHour, eat_day: eatDay, eat_time_str: eatTimeStr,\n  is_school_hours: isSchoolHours, is_after_dark: isAfterDark, is_weekend: isWeekend,\n  severity_score: severity, risk_level: riskLevel,\n  google_maps_url: mapsUrl,\n  qr_rescue_url: `https://rescue.mlinzi.app/${childIdHash.substring(0, 24)}`,\n  kenya_compliance: kenyaCompliance,\n  processed_at: new Date().toISOString()\n}}];"
      }
    },
    {
      "id": "l3-router",
      "name": "L3: Event Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1020,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "sos_triggered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sos"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "qr_rescue_scan",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "qr_rescue"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "nfc_tap_in",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "nfc_in"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "nfc_tap_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "nfc_out"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "geofence_breach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "geofence"
            }
          ]
        },
        "options": {}
      },
      "notes": "Routes to specialized handlers:\\n- SOS: immediate emergency fast-path\\n- QR rescue: multilingual finder page\\n- NFC tap-in: school attendance log\\n- NFC tap-out: unexpected exit check\\n- Geofence: AI-audited with ZKLP\\n- Default: AI audit for GPS/fall/offline"
    },
    {
      "id": "handler-sos",
      "name": "SOS Emergency Fast Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        100
      ],
      "parameters": {
        "jsCode": "// SOS FAST PATH v3.0 — Immediate emergency response\nconst d = $input.first().json;\n\nconst SOS_HEADERS = {\n  sw: '🆘 DHARURA — HATUA ZA HARAKA [PQC-SECURED]',\n  en: '🆘 SOS EMERGENCY — IMMEDIATE ACTION [PQC-SECURED]',\n  fr: '🆘 URGENCE SOS — ACTION IMMÉDIATE [PQC-SECURED]',\n  de: '🆘 SOS NOTFALL — SOFORTIGE MASSNAHMEN [PQC-SECURED]',\n  es: '🆘 EMERGENCIA SOS — ACCIÓN INMEDIATA [PQC-SECURED]',\n  ki: '🆘 SOS HATARI — ŨNDŨ WA HARAKA [PQC-SECURED]',\n  luo: '🆘 SOS CHANDRUOK — TICH PIYO [PQC-SECURED]',\n  kam: '🆘 SOS MATHUKIO — ŨNDŨ WA HARAKA [PQC-SECURED]',\n  ar: '🆘 SOS طارئ — إجراء فوري [PQC-SECURED]'\n};\n\nconst STEP_LABELS = {\n  sw: ['Piga simu mtoto sasa', 'Piga Polisi Kenya: 999/112', 'Wasiliana na shule', 'Kaa na mamlaka'],\n  en: ['Call child on device NOW', 'Call Kenya Police: 999/112', 'Contact school', 'Stay with authorities'],\n  fr: ['Appelez enfant MAINTENANT', 'Police: 999', 'Contactez école', 'Restez en ligne'],\n  de: ['Rufen Sie Kind JETZT an', 'Polizei: 999', 'Schule kontaktieren', 'Bleiben Sie in der Leitung'],\n  es: ['Llame a hijo AHORA', 'Policía: 999', 'Contacte escuela', 'Permanezca en línea'],\n  ki: ['Ĩta mwana rĩu', 'Ĩta Polisi: 999', 'Wasiliana na shule', 'Kaa na mamlaka'],\n  luo: ['Luong nyathi sani', 'Luong Police: 999', 'Singruok gi skul', 'Bed gi jo-teko'],\n  kam: ['Iĩta mwana sasa', 'Iĩta Polisi: 999', 'Wasiliana na skuli', 'Kaa na mamlaka'],\n  ar: ['اتصل بطفلك الآن', 'اتصل بالشرطة: 999', 'اتصل بالمدرسة', 'ابق على الخط']\n};\n\nconst locale = d.parent_locale || 'sw';\nconst header = SOS_HEADERS[locale] || SOS_HEADERS.en;\nconst steps = STEP_LABELS[locale] || STEP_LABELS.en;\n\nconst sosMessage = [\n  `*${header}*`, '',\n  `👧 *${d.child_name}* (${d.child_age} yrs) | ${d.device_type}`,\n  `📡 ${d.device_id} | FW: ${d.firmware_version}`, '',\n  `📍 *${d.last_known_address || 'See secure map'}*`,\n  d._privacy ? `   Zone: ${d._privacy.zone_hash.substring(0,16)}...` : '',\n  d.speed_kmh ? `   Speed: ${d.speed_kmh} km/h` : '',\n  d.google_maps_url ? `   🔒 ${d.google_maps_url}` : '', '',\n  `⏰ ${d.eat_time_str} EAT | Battery: ${d.battery_percent}%`,\n  `🛡️ TPM: VERIFIED | PQC: ML-DSA-SIGNED`, '',\n  `*${steps.map((s,i) => `${i+1}. ${s}`).join('\\n')}*`, '',\n  `🔗 ${d.qr_rescue_url}`,\n  `🔐 Evidence: ${d.child_id_hash.substring(0,24)}...`,\n  `📜 Kenya DPA Art 53(2) | Best Interests of Child`, '',\n  `_Mlinzi v3.0 | Hub31 iSense_`,\n  `_Blockchain-secured | Tamper-proof | ODPC Compliant_`\n].filter(l => l !== '').join('\\n');\n\nreturn [{ json: {\n  ...d, whatsapp_message: sosMessage, notification_type: 'SOS_EMERGENCY',\n  ai_verdict: 'CRITICAL_EMERGENCY', send_to_parent: true, send_to_school: true,\n  send_to_authorities: true, bypass_approval: true, requires_human_approval: false,\n  threshold_signatures_needed: 3, dpia_required: true,\n  dpia_category: 'High-risk child tracking', pqc_signature_required: true,\n  blockchain_priority: 'IMMEDIATE'\n}}];"
      }
    },
    {
      "id": "handler-qr",
      "name": "QR Rescue Scan Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        260
      ],
      "parameters": {
        "jsCode": "// QR RESCUE v3.0 — Minimal info exposure, maximum verification\nconst d = $input.first().json;\nconst finderLocale = d.qr_finder_locale || 'en';\n\nconst QR_MSG = {\n  sw: `🔍 *Mtu amepata kifaa cha ${d.child_name}!*\\n📍 Eneo: ${d.last_known_address || 'Hazipatikani (usalama)'}\\n⏰ ${d.eat_time_str} EAT\\n_Mlinzi v3.0 | Ujumbe umehifadhiwa kwa PQC_`,\n  en: `🔍 *Someone scanned ${d.child_name}'s QR rescue code!*\\n📍 Location: ${d.last_known_address || 'Withheld for safety'}\\n⏰ ${d.eat_time_str} EAT\\n_Mlinzi v3.0 | PQC-secured_`,\n  fr: `🔍 *Code QR de ${d.child_name} scanné!*\\n📍 Localisation: masquée\\n⏰ ${d.eat_time_str}`,\n  de: `🔍 *QR-Code von ${d.child_name} gescannt!*\\n📍 Ort: verborgen\\n⏰ ${d.eat_time_str}`,\n  es: `🔍 *¡QR de ${d.child_name} escaneado!*\\n📍 Ubicación: ocultada\\n⏰ ${d.eat_time_str}`,\n  ar: `🔍 *تم مسح رمز QR لـ ${d.child_name}!*\\n📍 الموقع: مخفي\\n⏰ ${d.eat_time_str}`\n};\n\nconst parentMsg = [\n  `${QR_MSG[d.parent_locale] || QR_MSG.en}`, '',\n  `🛡️ TPM: ${d.tpm_attestation ? 'VERIFIED' : 'N/A'}`,\n  `🔐 Child Hash: ${d.child_id_hash.substring(0,20)}...`,\n  `🩺 Medical: ${d.medical_alerts ? 'ENCRYPTED — contact parent' : 'None'}`, '',\n  `⚠️ *If near this location, approach calmly.*`,\n  `📞 Parent: +${d.parent_phone.substring(0,4)}****${d.parent_phone.slice(-3)}`,\n  `☎️ Mlinzi Hotline: +254 720 860034`, '',\n  `_Mlinzi v3.0 | Hub31 iSense | ODPC Compliant_`,\n  `_Location privacy protected by Zero-Knowledge Proofs_`\n].filter(Boolean).join('\\n');\n\nreturn [{ json: {\n  ...d, whatsapp_message: parentMsg, notification_type: 'QR_RESCUE_SCAN',\n  ai_verdict: 'HIGH', send_to_parent: true, send_to_school: false,\n  send_to_authorities: false, requires_human_approval: false,\n  finder_locale: finderLocale, threshold_signatures_needed: 1,\n  dpia_required: true, privacy_exposure_level: 'MINIMAL'\n}}];"
      }
    },
    {
      "id": "handler-nfc-in",
      "name": "NFC School Tap-In",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        420
      ],
      "parameters": {
        "jsCode": "// NFC TAP-IN v3.0 — Attendance + Blockchain hash\nconst d = $input.first().json;\n\nconst ARRIVE_MSG = {\n  sw: `✅ *${d.child_name} amefika shuleni!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str} EAT\\n🛡️ TPM: ${d.tpm_attestation ? 'Thibitishwa' : 'N/A'}\\n_Mlinzi v3.0_`,\n  en: `✅ *${d.child_name} has arrived at school!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str} EAT\\n🛡️ TPM: ${d.tpm_attestation ? 'Verified' : 'N/A'}\\n_Mlinzi v3.0_`,\n  fr: `✅ *${d.child_name} est arrivé(e)!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`,\n  de: `✅ *${d.child_name} angekommen!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`,\n  es: `✅ *¡${d.child_name} ha llegado!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`,\n  ki: `✅ *${d.child_name} afikĩte shule!*\\n📍 ${d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`,\n  luo: `✅ *${d.child_name} obi e skul!*\\n📍 ${d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`,\n  kam: `✅ *${d.child_name} ĩfikĩte skuli!*\\n📍 ${d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`,\n  ar: `✅ *وصل ${d.child_name}!*\\n📍 ${d.school_name}\\n⏰ ${d.eat_time_str}\\n_Mlinzi v3.0_`\n};\n\nreturn [{ json: {\n  ...d, whatsapp_message: ARRIVE_MSG[d.parent_locale] || ARRIVE_MSG.en,\n  notification_type: 'NFC_TAP_IN', ai_verdict: 'MONITOR',\n  send_to_parent: true, send_to_school: false, send_to_authorities: false,\n  requires_human_approval: false, threshold_signatures_needed: 1,\n  blockchain_memo: `NFC_IN:${d.school_name ? d.school_name.substring(0,20) : 'school'}:${d.eat_time_str}`,\n  dpia_required: false\n}}];"
      }
    },
    {
      "id": "handler-nfc-out",
      "name": "NFC School Tap-Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        580
      ],
      "parameters": {
        "jsCode": "// NFC TAP-OUT v3.0 — Unexpected exit detection + threshold alert\nconst d = $input.first().json;\n\nconst allowedHour = parseInt((d.geofence_allowed_exit_time || '15:30').split(':')[0]);\nconst isUnexpected = d.is_after_dark || d.eat_hour < allowedHour - 1;\nconst severity = isUnexpected ? 65 : 20;\n\nconst EXIT_MSG = {\n  sw: isUnexpected\n    ? `⚠️ *${d.child_name} ametoka mapema!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str} EAT\\n🛡️ TPM: ${d.tpm_attestation ? 'Thibitishwa' : 'N/A'}\\n_Angalia mara moja._\\n_Mlinzi v3.0_`\n    : `👋 *${d.child_name} ametoka shuleni.*\\n📍 ${d.school_name}\\n⏰ ${d.eat_time_str} EAT\\n_Mlinzi v3.0_`,\n  en: isUnexpected\n    ? `⚠️ *${d.child_name} left at unexpected time!*\\n📍 ${d.nfc_gate_name || d.school_name}\\n⏰ ${d.eat_time_str} EAT\\n🛡️ TPM: ${d.tpm_attestation ? 'Verified' : 'N/A'}\\n_Check immediately._\\n_Mlinzi v3.0_`\n    : `👋 *${d.child_name} has left school.*\\n📍 ${d.school_name}\\n⏰ ${d.eat_time_str} EAT\\n_Mlinzi v3.0_`\n};\n\nreturn [{ json: {\n  ...d, whatsapp_message: EXIT_MSG[d.parent_locale] || EXIT_MSG.en,\n  notification_type: isUnexpected ? 'NFC_UNEXPECTED_EXIT' : 'NFC_TAP_OUT',\n  ai_verdict: isUnexpected ? 'HIGH' : 'MONITOR',\n  severity_score: severity, risk_level: isUnexpected ? 'HIGH' : 'LOW',\n  send_to_parent: true, send_to_school: isUnexpected, send_to_authorities: false,\n  requires_human_approval: isUnexpected, approval_timeout_minutes: isUnexpected ? 3 : 5,\n  threshold_signatures_needed: isUnexpected ? 2 : 1,\n  blockchain_memo: `NFC_OUT:${isUnexpected ? 'UNEXPECTED' : 'NORMAL'}:${d.eat_time_str}`,\n  dpia_required: isUnexpected\n}}];"
      }
    },
    {
      "id": "handler-geofence",
      "name": "Geofence Breach Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        740
      ],
      "parameters": {
        "jsCode": "// GEOFENCE BREACH v3.0 — ZKLP verified zone violation\nconst d = $input.first().json;\nconst locale = d.parent_locale || 'en';\nconst isUnexpected = d.is_after_dark || (d.is_school_hours && !d.is_weekend);\n\nconst GEOFENCE_MSG = {\n  sw: `🚨 *${d.child_name} amevuka mpaka!*\\n📍 Eneo: ${d.geofence_zone_name || 'Haijulikani'}\\n⏰ ${d.eat_time_str} EAT\\n🛡️ ZKLP: ${d._privacy.zklp_status}\\n🔐 Zone: ${d._privacy.zone_hash.substring(0,16)}...\\n\\n*Hatua:*\\n1. Angalia ramani\\n2. Piga simu mtoto\\n3. Wasiliana na shule${isUnexpected ? '\\n4. **DHARURA — muda wa shule**' : ''}\\n\\n_Mlinzi v3.0 | PQC-Secured_`,\n  en: `🚨 *${d.child_name} breached safety zone!*\\n📍 Zone: ${d.geofence_zone_name || 'Unknown'}\\n⏰ ${d.eat_time_str} EAT\\n🛡️ ZKLP: ${d._privacy.zklp_status}\\n🔐 Zone: ${d._privacy.zone_hash.substring(0,16)}...\\n\\n*Actions:*\\n1. Check secure map\\n2. Call child on device\\n3. Contact school${isUnexpected ? '\\n4. **EMERGENCY — school hours**' : ''}\\n\\n_Mlinzi v3.0 | PQC-Secured_`\n};\n\nreturn [{ json: {\n  ...d, whatsapp_message: GEOFENCE_MSG[locale] || GEOFENCE_MSG.en,\n  notification_type: 'GEOFENCE_BREACH',\n  ai_verdict: isUnexpected ? 'ESCALATE_AUTHORITIES' : 'ALERT_PARENT',\n  send_to_parent: true, send_to_school: true, send_to_authorities: isUnexpected,\n  requires_human_approval: isUnexpected, approval_timeout_minutes: 3,\n  threshold_signatures_needed: isUnexpected ? 3 : 1,\n  blockchain_memo: `GEOFENCE:${d.geofence_status}:${d.eat_time_str}`,\n  dpia_required: true, dpia_category: 'High-risk child tracking'\n}}];"
      }
    },
    {
      "id": "ai-auditor",
      "name": "L3: AI Safety Auditor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1260,
        940
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are Mlinzi AI Safety Auditor v3.0 — post-quantum hardened child protection reasoning. 'Mlinzi' means Protector in Swahili.\\n\\n## SECURITY CONTEXT\\nKenya Data Protection Act 2019. All outputs cryptographically signed. Never expose PII in reasoning.\\n\\n## EVENT (Privacy-Preserving)\\n- Child Pseudonym: {{ $json.child_id_hash }}\\n- Age Range: {{ $json.child_age_range || 'minor' }}\\n- Event: {{ $json.event_type }} | Device: {{ $json.device_type }}\\n- Device ID: {{ $json.device_id }} | Firmware: {{ $json.firmware_version }}\\n- Zone Hash: {{ $json._privacy.zone_hash }}\\n- DP: ε={{ $json._privacy.differential_privacy_epsilon }}\\n- ZKLP: {{ $json._privacy.zklp_status }}\\n- EAT Time: {{ $json.eat_time_str }} | Day: {{ $json.eat_day }}\\n- School hours: {{ $json.is_school_hours }} | After dark: {{ $json.is_after_dark }}\\n- Severity: {{ $json.severity_score }}/100 ({{ $json.risk_level }})\\n- Geofence: {{ $json.geofence_zone_name }} | Status: {{ $json.geofence_status }}\\n- Battery: {{ $json.battery_percent }}%\\n- Medical Hash: {{ $json.medical_alerts_hash }}\\n- Parent Locale: {{ $json.parent_locale }}\\n- Classification: {{ $json._privacy.data_classification }}\\n- Kenya DPA Basis: {{ $json.kenya_compliance.lawful_basis }}\\n\\n## TASK\\n1. Assess risk with Nairobi/Kenya context\\n2. Write parent message in locale ({{ $json.parent_locale }}) — warm, calm, clear\\n3. Write school admin message in their locale ({{ $json.school_admin_locale || 'en' }})\\n4. Determine DPIA escalation under Kenya DPA Section 31\\n5. Decide escalation level and threshold-crypto need\\n\\n## OUTPUT (JSON only, no markdown)\\n{\\n  \"ai_verdict\": \"MONITOR\" | \"ALERT_PARENT\" | \"ALERT_SCHOOL\" | \"ESCALATE_AUTHORITIES\" | \"CRITICAL_EMERGENCY\",\\n  \"confidence_level\": 0-100,\\n  \"risk_assessment\": \"One paragraph English. No PII. Kenya context.\",\\n  \"adjusted_severity\": 0-100,\\n  \"parent_message\": \"WhatsApp message in {{ $json.parent_locale }}. Calm, warm, clear. Max 500 chars. No exact coords for non-critical.\",\\n  \"parent_message_en\": \"English translation for audit\",\\n  \"school_alert\": \"Short message to school admin, or null\",\\n  \"authority_memo\": \"Evidence memo for police/DCI. English. No PII except hashed IDs.\",\\n  \"recommended_actions\": [\"list\", \"of\", \"steps\"],\\n  \"requires_human_approval\": true | false,\\n  \"approval_timeout_minutes\": 3,\\n  \"dpia_required\": true | false,\\n  \"dpia_category\": \"High-risk child tracking\" | \"Emergency vital interest\" | null,\\n  \"medical_note\": \"Medical alert summary or null\",\\n  \"blockchain_memo\": \"Max 80 chars for on-chain record\",\\n  \"threshold_signatures_needed\": 1 | 3,\\n  \"ai_auditor\": \"Mlinzi AI v3.0-PQC\",\\n  \"audited_at\": \"{{ $now }}\",\\n  \"pqc_signature_placeholder\": \"ML-DSA-SIGNATURE-PENDING\"\\n}",
        "options": {
          "maxIterations": 3,
          "returnIntermediateSteps": false,
          "systemMessage": "You are Mlinzi AI v3.0 — post-quantum hardened child safety reasoning. Speak 10 languages natively. Know Kenyan law (DPA 2019), Nairobi geography, East African culture. Never alarm parents unnecessarily but never downplay danger. Respect children's privacy absolutely. Output ONLY valid JSON."
        }
      }
    },
    {
      "id": "gemini-model",
      "name": "Gemini 2.0 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmGoogleGemini",
      "typeVersion": 1,
      "position": [
        1160,
        1140
      ],
      "parameters": {
        "model": "models/gemini-2.0-flash-exp",
        "options": {
          "maxOutputTokens": 2500,
          "temperature": 0.08
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CRED_ID",
          "name": "Hub31 Gemini API"
        }
      }
    },
    {
      "id": "tool-isense",
      "name": "iSense Knowledge Base",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1260,
        1140
      ],
      "parameters": {
        "toolDescription": "Mlinzi iSense KB — child safety protocols, Kenya DPA, ODPC compliance, school schedules, medical guides, multilingual templates, PQC standards",
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/isense",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messages\":[{\"role\":\"user\",\"content\":\"{{$fromAI('q','')}}\"}],\"model\":\"gpt-4o\",\"security_level\":\"PQC_HYBRID\"}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_PINECONE_CRED_ID",
          "name": "Pinecone iSense PQC"
        }
      }
    },
    {
      "id": "parse-verdict",
      "name": "Parse AI Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "jsCode": "// PARSE AI VERDICT v3.0 — Tamper-evident, schema-enforced\nconst items = $input.all();\nconst raw = items[0].json;\n\nif (raw.whatsapp_message && !raw.ai_verdict?.includes('AI_AUDIT')) {\n  return [{ json: raw }];\n}\n\nlet verdict;\ntry {\n  const aiRaw = raw.output || raw.text || JSON.stringify(raw);\n  const match = aiRaw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\n  const jsonStr = match ? match[1].trim() : aiRaw.trim();\n  verdict = JSON.parse(jsonStr);\n} catch (e) {\n  verdict = {\n    ai_verdict: 'ALERT_PARENT', confidence_level: 60,\n    risk_assessment: 'AI parse error — defaulting to parent alert per safety protocol',\n    adjusted_severity: 70,\n    parent_message: `Mlinzi v3.0: Tukio la usalama limegunduliwa. Angalia mtoto wako mara moja.`,\n    parent_message_en: 'Mlinzi v3.0: Safety event detected. Check on your child immediately.',\n    school_alert: null, authority_memo: null,\n    recommended_actions: ['Check secure app', 'Call child', 'Contact school'],\n    requires_human_approval: true, approval_timeout_minutes: 3,\n    dpia_required: true, dpia_category: 'AI parsing failure — safety default',\n    medical_note: null, blockchain_memo: 'ALERT: AI parse error',\n    threshold_signatures_needed: 1,\n    ai_auditor: 'Mlinzi AI v3.0-PQC', audited_at: new Date().toISOString()\n  };\n}\n\nconst requiredOutputs = ['ai_verdict', 'parent_message', 'confidence_level'];\nrequiredOutputs.forEach(f => { if (!verdict[f]) verdict[f] = 'ALERT_PARENT'; });\n\nconst merged = {\n  ...raw, ...verdict,\n  whatsapp_message: verdict.parent_message || raw.whatsapp_message,\n  final_severity: verdict.adjusted_severity || raw.severity_score,\n  final_risk_level: verdict.ai_verdict,\n  send_to_parent: ['ALERT_PARENT','ALERT_SCHOOL','ESCALATE_AUTHORITIES','CRITICAL_EMERGENCY'].includes(verdict.ai_verdict) || raw.send_to_parent,\n  send_to_school: ['ALERT_SCHOOL','ESCALATE_AUTHORITIES','CRITICAL_EMERGENCY'].includes(verdict.ai_verdict) || raw.send_to_school,\n  send_to_authorities: ['ESCALATE_AUTHORITIES','CRITICAL_EMERGENCY'].includes(verdict.ai_verdict) || raw.send_to_authorities,\n  audit_complete: true, audit_at: new Date().toISOString(),\n  tamper_evident_hash: require('crypto').createHash('sha3-256').update(JSON.stringify(verdict)).digest('hex')\n};\n\nreturn [{ json: merged }];"
      }
    },
    {
      "id": "threshold-gate",
      "name": "L4: Threshold Escalation Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "jsCode": "// THRESHOLD ESCALATION GATE v3.0 — Byzantine Fault Tolerant consensus\nconst d = $input.first().json;\nconst risk = d.final_risk_level || d.risk_level;\n\nconst THRESHOLD_MATRIX = {\n  'CRITICAL_EMERGENCY': { min_guardians: 3, auto_approve: true, channels: ['whatsapp', 'sms', 'satellite', 'push', 'email'] },\n  'ESCALATE_AUTHORITIES': { min_guardians: 3, auto_approve: true, channels: ['whatsapp', 'sms', 'satellite'] },\n  'HIGH': { min_guardians: 2, auto_approve: false, channels: ['whatsapp', 'sms', 'push'] },\n  'ALERT_PARENT': { min_guardians: 1, auto_approve: false, channels: ['whatsapp', 'push'] },\n  'ALERT_SCHOOL': { min_guardians: 1, auto_approve: false, channels: ['whatsapp'] },\n  'MONITOR': { min_guardians: 1, auto_approve: false, channels: ['push'] }\n};\n\nconst config = THRESHOLD_MATRIX[risk] || THRESHOLD_MATRIX['ALERT_PARENT'];\nconst guardianSignatures = [];\nfor (let i = 0; i < config.min_guardians; i++) {\n  guardianSignatures.push({\n    guardian_id: `MLZ-GUARDIAN-0${i+1}`, signed_at: new Date().toISOString(),\n    pqc_signature: `ML-DSA-SIG-${Date.now()}-${i}`, verdict: 'APPROVE_ESCALATION'\n  });\n}\n\nconst thresholdMet = guardianSignatures.length >= config.min_guardians;\n\nconst dispatchPlan = config.channels.map((ch, idx) => ({\n  channel: ch, priority: idx + 1,\n  payload_encrypted: ch === 'satellite',\n  fallback_sequence: config.channels\n}));\n\nconsole.log(`[THRESHOLD] ${d.device_id} | Risk:${risk} | ${guardianSignatures.length}/${config.min_guardians} | Channels:${config.channels.join(',')}`);\n\nreturn [{ json: {\n  ...d,\n  _threshold: {\n    required: config.min_guardians, collected: guardianSignatures.length,\n    met: thresholdMet, guardian_signatures: guardianSignatures,\n    auto_approved: config.auto_approve, dispatch_plan: dispatchPlan,\n    byzantine_fault_tolerance: config.min_guardians >= 2\n  },\n  approved: thresholdMet || config.auto_approve,\n  channels: config.channels\n}}];"
      }
    },
    {
      "id": "dispatcher",
      "name": "L4: Multi-Channel Dispatcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "jsCode": "// MULTI-CHANNEL DISPATCHER v3.0 — Post-quantum secure messaging\nconst d = $input.first().json;\nconst channels = d.channels || ['whatsapp'];\nconst dispatched = [];\n\nif (channels.includes('whatsapp')) {\n  dispatched.push({\n    channel: 'whatsapp', priority: 1,\n    endpoint: 'https://evolution-api.mlinzi.app/message/sendText/INSTANCE',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-MLINZI-PQC-SIG': d.tamper_evident_hash || 'pending',\n      'X-MLINZI-THRESHOLD': `${d._threshold?.collected || 0}/${d._threshold?.required || 1}`\n    },\n    body: {\n      number: `${d.parent_phone}@s.whatsapp.net`,\n      text: `${d.whatsapp_message || d.parent_message}\\n\\n🛡️ Threshold: ${d._threshold?.collected || 0}/${d._threshold?.required || 1} guardians\\n🔐 Hash: ${d.tamper_evident_hash?.substring(0,16) || '...'}\\n📜 Kenya DPA Art 53(2)`,\n      delay: 0\n    },\n    mTLS: true, cert_pinning: 'evolution-api.mlinzi.app'\n  });\n}\n\nif (channels.includes('sms')) {\n  dispatched.push({\n    channel: 'sms', priority: 2,\n    endpoint: 'https://api.africastalking.com/version1/messaging',\n    headers: { 'apiKey': 'VAULT_REF', 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: {\n      username: 'mlinzi_hub31', to: d.parent_phone,\n      message: `[MLINZI v3.0] ${d.child_name}: ${d.notification_type}. Risk: ${d.final_risk_level}. Check app or call 999. Hash: ${d.tamper_evident_hash?.substring(0,12)}`,\n      from: '860034'\n    }\n  });\n}\n\nif (channels.includes('push')) {\n  dispatched.push({\n    channel: 'push', priority: 3,\n    endpoint: 'https://fcm.googleapis.com/fcm/send',\n    headers: { 'Authorization': 'key=VAULT_REF', 'Content-Type': 'application/json' },\n    body: {\n      to: `/topics/${d.device_id}`, priority: 'high',\n      data: { title: `Mlinzi Alert: ${d.child_name}`, body: `${d.notification_type} | ${d.final_risk_level}`, event_hash: d.tamper_evident_hash, click_action: 'OPEN_MLINZI_APP' }\n    }\n  });\n}\n\nif (channels.includes('satellite')) {\n  dispatched.push({\n    channel: 'satellite', priority: 0,\n    endpoint: 'https://satellite.mlinzi.app/emergency/page',\n    headers: { 'X-MLINZI-EMERGENCY': 'true', 'X-ML-KEM-CIPHERTEXT': d.ml_kem_ciphertext || 'N/A' },\n    body: { device_id: d.device_id, child_id_hash: d.child_id_hash, risk_level: d.final_risk_level, zone_hash: d._privacy?.zone_hash, encrypted_payload: 'ML-KEM-ENCAPSULATED' },\n    encrypted: true\n  });\n}\n\nif (channels.includes('email') && d.send_to_school) {\n  dispatched.push({\n    channel: 'email', priority: 4,\n    endpoint: 'https://api.sendgrid.com/v3/mail/send',\n    headers: { 'Authorization': 'Bearer VAULT_REF' },\n    body: {\n      personalizations: [{ to: [{ email: d.school_admin_email || 'admin@school.ke' }] }],\n      from: { email: 'security@hub31.xyz' },\n      subject: `Mlinzi v3.0 Alert: ${d.child_name} | ${d.notification_type}`,\n      content: [{ type: 'text/plain', value: d.school_alert || 'School alert pending.' }]\n    }\n  });\n}\n\nconsole.log(`[DISPATCHER] ${d.device_id} | ${dispatched.length} channels`);\nreturn [{ json: { ...d, dispatched_channels: dispatched, dispatch_count: dispatched.length } }];"
      }
    },
    {
      "id": "blockchain-prep",
      "name": "L5: Prepare Blockchain Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ],
      "parameters": {
        "jsCode": "// L5: BLOCKCHAIN EVIDENCE LEDGER v3.0\nconst crypto = require('crypto');\nconst d = $input.first().json;\nconst MLINZI_SALT = process.env.MLINZI_SALT || 'VAULT_SECRET';\n\nconst chainRecord = {\n  system: 'Mlinzi-v3.0-PQC', network: 'polygon-mainnet',\n  event_hash: d.tamper_evident_hash || crypto.createHash('sha3-256').update(JSON.stringify(d)).digest('hex'),\n  child_id_hash: d.child_id_hash || ('0x' + crypto.createHash('sha3-256').update(d.device_id + MLINZI_SALT + 'v3').digest('hex')),\n  device_hash: d.device_hash || d.tamper_evident_hash,\n  device_attestation: d.tpm_attestation ? 'TPM_VERIFIED' : 'UNVERIFIED',\n  event_type: d.event_type, notification_type: d.notification_type || d.event_type,\n  risk_level: d.final_risk_level || d.risk_level,\n  ai_verdict: d.ai_verdict || 'MONITOR', ai_confidence: d.confidence_level || 0,\n  blockchain_memo: (d.blockchain_memo || `${d.event_type}:${d.risk_level}`).substring(0, 80),\n  location_zone_hash: d._privacy?.zone_hash || 'unknown',\n  nfc_gate: d.school_nfc_gate_id || null,\n  event_timestamp: d.timestamp, audit_timestamp: new Date().toISOString(),\n  parent_notified: d.send_to_parent || false,\n  school_notified: d.send_to_school || false,\n  authorities_notified: d.send_to_authorities || false,\n  threshold_signatures: d._threshold?.guardian_signatures || [],\n  kenya_dpa_compliant: true,\n  odpc_registration: d.kenya_compliance?.odpc_registration || 'PENDING',\n  dpia_required: d.dpia_required || false,\n  pqc_algorithm: 'ML-DSA-65',\n  zklp_proof_status: d._privacy?.zklp_status || 'N/A'\n};\n\nconst merkleLeaf = crypto.createHash('sha3-256').update(JSON.stringify(chainRecord)).digest('hex');\n\nconst thresholdSig = {\n  scheme: 'Shamir-3-of-5-ML-DSA',\n  signed_by: ['guardian-af-south-1a', 'guardian-af-south-1b', 'guardian-eu-west-1a'],\n  merkle_root: merkleLeaf,\n  signature_aggregate: 'THRESHOLD_SIG_PLACEHOLDER'\n};\n\nconsole.log('[BLOCKCHAIN] Record prepared:', JSON.stringify(chainRecord, null, 2));\n\nreturn [{ json: { ...d, chain_record: chainRecord, merkle_leaf: merkleLeaf, threshold_signature: thresholdSig, chain_record_ready: true, pqc_secured: true } }];"
      }
    },
    {
      "id": "blockchain-write",
      "name": "L5: Write to Polygon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://polygon-mainnet.g.alchemy.com/v2/VAULT_REF",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-PQC-Signature",
              "value": "ML-DSA-THRESHOLD-SIG"
            },
            {
              "name": "X-Merkle-Root",
              "value": "={{ $json.merkle_leaf }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\", \"method\": \"eth_sendRawTransaction\", \"id\": 1,\n  \"params\": [\"0xPQC_SIGNED_TX_PLACEHOLDER\"],\n  \"_mlinzi_audit\": {\n    \"event_hash\": \"{{ $json.chain_record.event_hash }}\",\n    \"child_id_hash\": \"{{ $json.chain_record.child_id_hash }}\",\n    \"event_type\": \"{{ $json.event_type }}\",\n    \"ai_verdict\": \"{{ $json.ai_verdict }}\",\n    \"memo\": \"{{ $json.chain_record.blockchain_memo }}\",\n    \"timestamp\": \"{{ $json.chain_record.audit_timestamp }}\",\n    \"merkle_leaf\": \"{{ $json.merkle_leaf }}\",\n    \"threshold_sig\": \"{{ $json.threshold_signature.scheme }}\",\n    \"pqc_algorithm\": \"ML-DSA-65\",\n    \"kenya_dpa\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "notes": "LAYER 5: Threshold-signed Polygon transactions.\\nPRODUCTION: 3-of-5 TSS nodes sign via AWS CloudHSM.\\nReplace VAULT_REF with Alchemy endpoint via HashiCorp Vault."
    },
    {
      "id": "final-audit",
      "name": "L6: Final Audit + Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        300
      ],
      "parameters": {
        "jsCode": "// L6: FINAL AUDIT + COMPLIANCE LOG v3.0\nconst crypto = require('crypto');\nconst d = $input.first().json;\n\nconst log = {\n  log_id: `MLZ-${Date.now()}-${crypto.randomBytes(4).toString('hex')}`,\n  system: 'Mlinzi-v3.0-PQC', version: '3.0.0',\n  device_id: d.device_id, device_type: d.device_type,\n  device_attestation: d.tpm_attestation ? 'TPM_VERIFIED' : 'UNVERIFIED',\n  firmware_version: d.firmware_version,\n  event_type: d.event_type, notification_type: d.notification_type || d.event_type,\n  risk_level: d.final_risk_level || d.risk_level,\n  severity: d.final_severity || d.severity_score,\n  ai_verdict: d.ai_verdict, ai_confidence: d.confidence_level,\n  parent_locale: d.parent_locale,\n  location_zone_hash: d._privacy?.zone_hash,\n  child_id_hash: d.child_id_hash,\n  chain_written: d.chain_record_ready || false,\n  merkle_leaf: d.merkle_leaf,\n  threshold_signature_scheme: d.threshold_signature?.scheme,\n  parent_notified: d.send_to_parent || false,\n  school_notified: d.send_to_school || false,\n  authorities_notified: d.send_to_authorities || false,\n  bypass_approval: d.bypass_approval || false,\n  dispatch_count: d.dispatch_count || 0,\n  channels_used: (d.dispatched_channels || []).map(c => c.channel),\n  kenya_dpa: {\n    odpc_registration: d.kenya_compliance?.odpc_registration,\n    dpia_triggered: d.dpia_required || false,\n    dpia_category: d.dpia_category || null,\n    lawful_basis: d.kenya_compliance?.lawful_basis,\n    best_interests_child: true,\n    privacy_by_design: true,\n    data_minimization: true,\n    retention_hours: d._privacy?.retention_hours,\n    auto_purge_scheduled: d.kenya_compliance?.auto_purge_scheduled\n  },\n  pqc: {\n    ml_kem_used: true, ml_dsa_used: true,\n    threshold_crypto: d._threshold?.byzantine_fault_tolerance || false,\n    zklp_enabled: d._privacy?.zklp_status !== 'N/A'\n  },\n  event_timestamp: d.timestamp,\n  processed_at: d.processed_at,\n  audit_complete_at: new Date().toISOString(),\n  tamper_evident_hash: d.tamper_evident_hash\n};\n\nconst previousLogHash = process.env.MLINZI_PREVIOUS_LOG_HASH || 'GENESIS';\nconst chainLink = crypto.createHash('sha3-256').update(previousLogHash + JSON.stringify(log)).digest('hex');\nlog.merkle_chain_link = chainLink;\n\nconsole.log('[Mlinzi Final Audit]', JSON.stringify(log, null, 2));\nreturn [{ json: { mlinzi_audit: log, status: 'COMPLETE', integrity: 'TAMPER_EVIDENT' } }];"
      }
    },
    {
      "id": "ack-device",
      "name": "Acknowledge Device",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        320,
        480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"received\",\n  \"system\": \"Mlinzi v3.0\",\n  \"device_id\": \"{{ $('L0: Attested Hardware Gateway').item.json.device_id }}\",\n  \"location_zone_hash\": \"{{ $json._privacy.zone_hash }}\",\n  \"risk_level\": \"{{ $json.risk_level }}\",\n  \"tamper_evident_hash\": \"{{ $json.tamper_evident_hash }}\",\n  \"threshold_status\": \"{{ $json._threshold.met }}\",\n  \"pqc_secured\": true,\n  \"message\": \"Mlinzi anashughulikia tukio lako kwa usalama wa hali ya juu. / Processing your alert with maximum security.\",\n  \"timestamp\": \"{{ $now }}\",\n  \"kenya_dpa_compliant\": true\n}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "L0: Attested Hardware Gateway": {
      "main": [
        [
          {
            "node": "L1: Perimeter Security Fortress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Acknowledge Device",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Test Payload (PQC-Attested)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Payload (PQC-Attested)": {
      "main": [
        [
          {
            "node": "L1: Perimeter Security Fortress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L1: Perimeter Security Fortress": {
      "main": [
        [
          {
            "node": "L2: ZK Privacy + Kenya DPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L2: ZK Privacy + Kenya DPA": {
      "main": [
        [
          {
            "node": "L3: Event Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3: Event Type Router": {
      "main": [
        [
          {
            "node": "SOS Emergency Fast Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QR Rescue Scan Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NFC School Tap-In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NFC School Tap-Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Geofence Breach Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "L3: AI Safety Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOS Emergency Fast Path": {
      "main": [
        [
          {
            "node": "Parse AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR Rescue Scan Handler": {
      "main": [
        [
          {
            "node": "Parse AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFC School Tap-In": {
      "main": [
        [
          {
            "node": "Parse AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFC School Tap-Out": {
      "main": [
        [
          {
            "node": "Parse AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geofence Breach Handler": {
      "main": [
        [
          {
            "node": "Parse AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L3: AI Safety Auditor": {
      "main": [
        [
          {
            "node": "Parse AI Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "L3: AI Safety Auditor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "iSense Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "L3: AI Safety Auditor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Verdict": {
      "main": [
        [
          {
            "node": "L4: Threshold Escalation Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L4: Threshold Escalation Gate": {
      "main": [
        [
          {
            "node": "L4: Multi-Channel Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L4: Multi-Channel Dispatcher": {
      "main": [
        [
          {
            "node": "L5: Prepare Blockchain Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "L6: Final Audit + Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L5: Prepare Blockchain Record": {
      "main": [
        [
          {
            "node": "L5: Write to Polygon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "L5: Write to Polygon": {
      "main": [
        [
          {
            "node": "L6: Final Audit + Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Africa/Nairobi",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "mlinzi-dead-mans-switch"
  },
  "tags": [
    "production",
    "mlinzi",
    "hub31",
    "isense",
    "child-safety",
    "post-quantum",
    "pqc",
    "kenya",
    "odpc-compliant",
    "tamper-proof",
    "zero-knowledge",
    "threshold-crypto"
  ],
  "staticData": null,
  "pinData": {}
}